[user]
	name = Tyler Tarsi
	email = hi@ttarsi.com
[core]
	editor = nvim
[push]
	autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
