[user]
	name = ttarsi
	email = tyler@omni.network
	signingkey = 4FEC60961038B58B
[core]
	editor = nvim
	pager = bat --paging=always --decorations=always --pager='less -R'
[push]
	autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
